stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: "freshmarket-frontend:latest"

build:
  only:
    - main
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t $DOCKER_IMAGE .
    - docker save $DOCKER_IMAGE -o image.tar
  artifacts:
    paths:
      - image.tar

.deploy_template: &deploy_definition
  stage: deploy
  image: debian:latest
  services:
    - docker:dind
  before_script:
    - apt-get update && apt-get install -y sshpass
  script:
    - export SSHPASS=$SERVER_PASSWORD
    - sshpass -e scp -v -o StrictHostKeyChecking=no image.tar deployuser@$SERVER_HOST:/var/images/freshmarket-frontend.tar
    - sshpass -e ssh -v -o StrictHostKeyChecking=no deployuser@$SERVER_HOST 'docker load -i /var/images/freshmarket-frontend.tar'

deploy_server1:
  only:
    - main
  <<: *deploy_definition
  variables:
    SERVER_HOST: '213.171.9.157'
    SERVER_PASSWORD: $SERVER1_PASSWORD
