@import './light.css' layer(base);
@import './dark.css' layer(base);
@import 'primeicons/primeicons.css' layer(base);

@import 'tailwindcss';

@plugin 'tailwindcss-animation-delay';
@plugin '@xpd/tailwind-3dtransforms';
@plugin '@designbycode/tailwindcss-text-stroke';

@theme {
  --animate-border: border 4s linear infinite;
  --animate-clip-fluid: clip-fluid 4s ease-in-out infinite;

  --color-main-light: #fff;
  --color-main-dark: #191919;

  --color-primary-light: #0094ff;
  --color-primary-dark: #0094ff;

  --color-secondary-light: #0087e7;
  --color-secondary-dark: #007fd7;

  --font-montserrat: Montserrat, none;
  --font-rubik: Rubik, none;
  --font-fira: 'Fira Code', none;
  --font-onest: 'Onest', none;

  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

* {
    scroll-behavior: smooth;
}

@keyframes clip-fluid {
    0%,
    100% {
        clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
    }
}