@import 'light.css' layer(base);
@import 'dark.css' layer(base);
@import '../../../node_modules/primeicons/primeicons.css' layer(base);

@import '../../../node_modules/tailwindcss/dist/lib.d.mts';

@import "../../../node_modules/tw-animate-css";

@plugin 'tailwindcss-animation-delay';
@plugin '@designbycode/tailwindcss-text-stroke';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-border: border 4s linear infinite;
    --animate-clip-fluid: clip-fluid 4s ease-in-out infinite;

    --color-main-light: #fff;
    --color-main-dark: #191919;

    --color-primary-light: #0094ff;
    --color-primary-dark: #0094ff;

    --color-secondary-light: #0087e7;
    --color-secondary-dark: #007fd7;

    --font-montserrat: Montserrat, none;
    --font-rubik: Rubik, none;
    --font-fira: 'Fira Code', none;
    --font-onest: 'Onest', none;

    @keyframes border {
        to {
            --border-angle: 360deg;
        }
    }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

* {
    scroll-behavior: smooth;
}

@keyframes clip-fluid {
    0%,
    100% {
        clip-path: polygon(
                0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%
        );
    }

    50% {
        clip-path: polygon(
                0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%
        );
    }
}

button, a {
    cursor: pointer;
}

/*
  ---break---
*/

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --animate-accordion-down: accordion-down 0.2s ease-out;
    --animate-accordion-up: accordion-up 0.2s ease-out;
}

/*
  ---break---
*/

:root {
    --radius: 0.65rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.141 0.005 285.823);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(0.623 0.214 259.815);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(0.967 0.001 286.375);
    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(0.967 0.001 286.375);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.92 0.004 286.32);
    --input: oklch(0.92 0.004 286.32);
    --ring: oklch(0.623 0.214 259.815);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.623 0.214 259.815);
    --sidebar-primary-foreground: oklch(0.97 0.014 254.604);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.623 0.214 259.815);

    /* Nuxt Charts */
    --vis-color0: oklch(0.72 0.192 149.58) !important;
    --vis-color1: oklch(0.63 0.1963 157.86) !important;

    --tooltip-label-color: rgba(255, 255, 255, 0.5) !important;

    --vis-axis-grid-color: rgba(255, 255, 255, 0.1) !important;

    --vis-tooltip-background-color: #121212 !important;
    --vis-tooltip-border-color: none !important;

    --tooltip-label-color: rgba(255, 255, 255, 0.5);
    --tooltip-value-color: rgba(255, 255, 255, 1);

    --vis-tooltip-text-color: rgba(255, 255, 255, 0.5) !important;
    --vis-axis-tick-label-color: rgba(255, 255, 255, 0.5) !important;

    --vis-axis-label-color: rgba(255, 255, 255, 0.5) !important;
    --vis-legend-label-color: rgba(255, 255, 255, 0.5) !important;

    --vis-donut-central-label-text-color: #313131 !important;
    --vis-donut-central-sub-label-text-color: #313131 !important;
}

.dark {
    --background: oklch(0.187 0 89.876);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.226 0 89.876);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.218 0 89.876);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.573 0.211 258.675);
    --primary-foreground: oklch(0.98 0.016 73.684);
    --secondary: oklch(0.264 0 89.876);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.274 0.006 286.033);
    --muted-foreground: oklch(0.735 0 89.876);
    --accent: oklch(0.293 0 89.876);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.608 0.235 27.681);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.488 0.243 264.376);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.248 0 89.876);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.546 0.245 262.881);
    --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.488 0.243 264.376);

    --vis-donut-central-label-text-color: #e3e3e3 !important;
    --vis-donut-central-sub-label-text-color: #8d8d8d !important;
}

/*
  ---break---
*/

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@keyframes accordion-down {
    from {
        height: 0
    }
    to {
        height: var(--reka-accordion-content-height)
    }
}

@keyframes accordion-up {
    from {
        height: 0
    }
    to {
        height: var(--reka-accordion-content-height)
    }
}

.loaded-enter-active,
.loaded-leave-active {
    transition: all 0.5s ease;
}

.loaded-enter-from,
.loaded-leave-to {
    opacity: 0;
}